html {
    height: 100%;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(pink, salmon);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.myDiv {
    width: 350px;
    margin: auto;
    padding-bottom: 10px;
    background-color: white;
    text-align: center;
    animation-name: down-upp;
    animation-duration: 500ms;
}

h1 {
    font-size: 48px;
    font-family: 'Times New Roman';
    margin-top: 5px;
    padding-top: 15px;
    opacity: 0;
    animation-name: revel-text;
    animation-delay: 1000ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

#completed {
    opacity: 0;
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 20px;
    animation-name: revel-text;
    animation-delay: 1200ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

#taskToDo,
#addBtn {
    opacity: 0;
    animation-name: revel-text;
    animation-delay: 1400ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

#taskToDo:focus {
    outline-color: rgb(39, 109, 189); 
    outline-width: thin; 
    border-color:transparent;
}
span{
    font-size: 20px;
}
span:hover{
    text-decoration: line-through;
}

.blink {
    margin-top: 5px;
    color: red;
    font-size: 10px;
    font-style: italic;
    animation-name: blink-text;
    animation-duration: 400ms;
    animation-iteration-count: 2;
}

.theList {
    list-style-type: none;
    margin-bottom: 5px; 
    animation-name: down;
    animation-duration: 300ms;
}

.delBtn {
    border: none;
    background-color: transparent;
    margin-left: 5px;
}

.delBtn img:hover {
    filter: contrast(15%); 
}

.reset {
    color: red;
}

.mark {
    animation-name: itemClear;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes down-upp {
    0% {
        transform: translateY(-100px);
    }
    25%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes revel-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink-text {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes down {
    0%{
        opacity: 0;
    }
    100%{
        transform: translateY(10px); 
    }
}
@keyframes itemClear{
    100%{
        color: grey;
        text-decoration: line-through;
    }
}